body {
    background-color: #F7ECDE;
}

.parent .child .icon1 {
    color: #3fa55b;
}

.parent .child .icon2 {
    color: #B3AC49;
}

.parent .child h2 {
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::selection {
    background-color: #fec260;
    color: #352e28;
}

.btn-submit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120;
    --bs-btn-hover-border-color: #a03315;
}

.parent h1::after {
    content: "";
    position: absolute;
    width: 17%;
    left: 50%;
    bottom: 2px;
    height: 30%;
    background-color: #fec260;
    z-index: -1;
    transform: translate(-50%);
    transition: all .5s;
}

.parent h1 {
    font-family: 'Pacifico', 'cursive';
}

.parent h1:hover::after {
    height: 60%;
}

.btn-green {
    background-color: #8A9E23;
    color: #fff;
}

.btn-green:hover {
    border: 1px solid gray;
    background-color: #8A9E23;
    color: #fff;
}

.btn-dang {
    background-color: #D30820;
    color: #fff;
}

.btn-dang:hover {
    border: 1px solid gray;
    color: #fff;
    background-color: #D30820;
}

.form-control:focus {
    border-color: #d99c39;
    box-shadow: 0 0 0 0.25rem #fec26055;
}

/*  */
.box-conent {
    width: 500px;
    z-index: 10;
}

.box-conent p {
    font-family: "Bree Serif", serif;
    font-size: 21px;
    line-height: 1.3;
    color: #352e28;
}

.rules li {
    font-size: 18px;
    padding-top: 10px;
}

.rules i {
    color: #bb4120;
}

.logo {
    width: 40px;
}

.circles span {
    display: block;
    width: 20px;
    height: 20px;
}

.circles span:nth-child(1) {
    background-color: #f15f5d;
}

.circles span:nth-child(2) {
    background-color: #febe2e;
}

.circles span:nth-child(3) {
    background-color: #4db748;
}